
{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import", {
      "libraryName": "antd",
      "style": true
    }
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ]
  ],
  "ignore": ["node_modules"]
}