/* stylelint-disable */

.success .rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
  @apply border-green-500;
}

.error .rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
  @apply border-red-500;
}

.rc-select-single .rc-select-selector {
  display: flex;
}

.rc-select-single .rc-select-selector .rc-select-selection-search {
  @apply left-3 right-3 absolute inset-y-0;
}

.rc-select-single .rc-select-selector .rc-select-selection-search-input {
  width: 100%;
}

.rc-select-single .rc-select-selector .rc-select-selection-item,
.rc-select-single .rc-select-selector .rc-select-selection-placeholder {
  padding: 0;
  line-height: 40px;
  transition: all 0.3s;
}

@supports (-moz-appearance: meterbar) {
  .rc-select-single .rc-select-selector .rc-select-selection-item,
  .rc-select-single .rc-select-selector .rc-select-selection-placeholder {
    line-height: 30px;
  }
}

.rc-select-single .rc-select-selector .rc-select-selection-item {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rc-select-single .rc-select-selector .rc-select-selection-placeholder {
  pointer-events: none;
}

.rc-select-single .rc-select-selector::after,
.rc-select-single .rc-select-selector .rc-select-selection-item::after,
.rc-select-single .rc-select-selector .rc-select-selection-placeholder::after {
  display: inline-block;
  width: 0;
  visibility: hidden;
  content: '\a0';
}

.rc-select-single.rc-select-show-arrow .rc-select-selection-search {
  right: 25px;
}

.rc-select-single.rc-select-show-arrow .rc-select-selection-item,
.rc-select-single.rc-select-show-arrow .rc-select-selection-placeholder {
  padding-right: 18px;
}

.rc-select-single.rc-select-open .rc-select-selection-item {
  color: #bfbfbf;
}

.rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
  width: 100%;
  height: 40px;
  padding: 0 11px;
}

.rc-select-single:not(.rc-select-customize-input)
  .rc-select-selector
  .rc-select-selection-search-input {
  height: 40px;
}

.rc-select-single:not(.rc-select-customize-input) .rc-select-selector::after {
  line-height: 30px;
}

.rc-select-single.rc-select-customize-input .rc-select-selector::after {
  display: none;
}

.rc-select-single.rc-select-customize-input .rc-select-selector .rc-select-selection-search {
  position: static;
  width: 100%;
}

.rc-select-single.rc-select-customize-input .rc-select-selector .rc-select-selection-placeholder {
  position: absolute;
  right: 0;
  left: 0;
  padding: 0 11px;
}

.rc-select-single.rc-select-customize-input
  .rc-select-selector
  .rc-select-selection-placeholder::after {
  display: none;
}

.rc-select-single.rc-select-lg:not(.rc-select-customize-input) .rc-select-selector {
  height: 40px;
}

.rc-select-single.rc-select-lg:not(.rc-select-customize-input) .rc-select-selector::after,
.rc-select-single.rc-select-lg:not(.rc-select-customize-input)
  .rc-select-selector
  .rc-select-selection-item,
.rc-select-single.rc-select-lg:not(.rc-select-customize-input)
  .rc-select-selector
  .rc-select-selection-placeholder {
  line-height: 38px;
}

.rc-select-single.rc-select-lg:not(.rc-select-customize-input):not(.rc-select-customize-input)
  .rc-select-selection-search-input {
  height: 38px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selector {
  height: 24px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selector::after,
.rc-select-single.rc-select-sm:not(.rc-select-customize-input)
  .rc-select-selector
  .rc-select-selection-item,
.rc-select-single.rc-select-sm:not(.rc-select-customize-input)
  .rc-select-selector
  .rc-select-selection-placeholder {
  line-height: 22px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input):not(.rc-select-customize-input)
  .rc-select-selection-search-input {
  height: 22px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selection-search {
  right: 7px;
  left: 7px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selector {
  padding: 0 7px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow
  .rc-select-selection-search {
  right: 28px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow
  .rc-select-selection-item,
.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow
  .rc-select-selection-placeholder {
  padding-right: 21px;
}

.rc-select-single.rc-select-lg:not(.rc-select-customize-input) .rc-select-selector {
  padding: 0 11px;
}

/**
 * Do not merge `height` & `line-height` under style with `selection` & `search`,
 * since chrome may update to redesign with its align logic.
 */

.rc-select-selection-overflow {
  @apply flex flex-wrap max-w-full relative;
  flex-basis: auto;
}

.rc-select-selection-overflow-item {
  @apply self-center flex-none max-w-full;
}

.rc-select-multiple .rc-select-selector {
  @apply flex flex-wrap items-center px-1 py-px;
}

.rc-select-show-search.rc-select-multiple .rc-select-selector {
  cursor: text;
}

.rc-select-disabled.rc-select-multiple .rc-select-selector {
  background: #f5f5f5;
  cursor: not-allowed;
}

.rc-select-multiple .rc-select-selector::after {
  @apply inline-block leading-6 mx-0 my-px w-0;
  content: '\a0';
}

.rc-select-multiple.rc-select-show-arrow .rc-select-selector,
.rc-select-multiple.rc-select-allow-clear .rc-select-selector {
  padding-right: 24px;
}

.rc-select-multiple .rc-select-selection-item {
  @apply bg-gray-200 border-gray-300 rounded-sm border-solid border box-border cursor-default flex flex-none h-6 leading-5 my-px max-w-full relative select-none;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  margin-inline-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 4px;
}

.rc-select-disabled.rc-select-multiple .rc-select-selection-item {
  color: #bfbfbf;
  border-color: #d9d9d9;
  cursor: not-allowed;
}

.rc-select-multiple .rc-select-selection-item-content {
  @apply inline-block mr-1 overflow-hidden whitespace-pre;
  text-overflow: ellipsis;
}

.rc-select-multiple .rc-select-selection-item-remove {
  @apply font-bold cursor-pointer inline-block text-center text-black not-italic normal-case;
  font-size: 10px;
  line-height: inherit;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
}

.rc-select-multiple .rc-select-selection-item-remove > * {
  line-height: 1;
}

.rc-select-multiple .rc-select-selection-item-remove svg {
  display: inline-block;
}

.rc-select-multiple .rc-select-selection-item-remove::before {
  display: none;
}

.rc-select-multiple
  .rc-select-selection-item-remove
  .rc-select-multiple
  .rc-select-selection-item-remove-icon {
  display: block;
}

.rc-select-multiple .rc-select-selection-item-remove > .anticon {
  vertical-align: -0.2em;
}

.rc-select-multiple .rc-select-selection-item-remove:hover {
  color: rgba(0, 0, 0, 0.75);
}

.rc-select-multiple
  .rc-select-selection-overflow-item
  + .rc-select-selection-overflow-item
  .rc-select-selection-search {
  -webkit-margin-start: 0;
  margin-inline-start: 0;
}

.rc-select-multiple .rc-select-selection-search {
  @apply my-px max-w-full relative;
  margin-inline-start: 7px;
}

.rc-select-multiple .rc-select-selection-search-input,
.rc-select-multiple .rc-select-selection-search-mirror {
  @apply h-6 leading-6;
  transition: all 0.3s;
}

.rc-select-multiple .rc-select-selection-search-input {
  width: 100%;
  min-width: 4.1px;
}

.rc-select-multiple .rc-select-selection-search-mirror {
  @apply absolute top-0 left-0 invisible whitespace-pre;
  z-index: 999;
}

.rc-select-multiple .rc-select-selection-placeholder {
  @apply absolute;
  top: 50%;
  right: 12px;
  left: 12px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.rc-select-multiple.rc-select-lg .rc-select-selector::after {
  line-height: 32px;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item {
  height: 32px;
  line-height: 30px;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-search {
  height: 32px;
  line-height: 32px;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-search-input,
.rc-select-multiple.rc-select-lg .rc-select-selection-search-mirror {
  height: 32px;
  line-height: 30px;
}

.rc-select-multiple.rc-select-sm .rc-select-selector::after {
  line-height: 16px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-item {
  height: 16px;
  line-height: 14px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-search {
  height: 16px;
  line-height: 16px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-search-input,
.rc-select-multiple.rc-select-sm .rc-select-selection-search-mirror {
  height: 16px;
  line-height: 14px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-placeholder {
  left: 7px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-search {
  -webkit-margin-start: 3px;
  margin-inline-start: 3px;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item {
  height: 32px;
  line-height: 32px;
}

.rc-select-disabled .rc-select-selection-item-remove {
  display: none;
}

/* Reset search input style */

.rc-select {
  @apply box-border cursor-pointer inline-block text-sm m-0 p-0 relative text-black w-full;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
}

.rc-select:not(.rc-select-customize-input) .rc-select-selector {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  @apply bg-white border-solid border relative rounded-lg border-gray-300;
}

.rc-select:not(.rc-select-customize-input) .rc-select-selector input {
  cursor: pointer;
}

.rc-select-show-search.rc-select:not(.rc-select-customize-input) .rc-select-selector {
  cursor: text;
}

.rc-select-show-search.rc-select:not(.rc-select-customize-input) .rc-select-selector input {
  cursor: auto;
}

.rc-select-focused:not,
.rc-select-disabled.rc-select:not,
.rc-select-customize-input .rc-select-selector {
  @apply border-r border-gray-300;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.rc-select-disabled.rc-select:not,
.rc-select-customize-input .rc-select-selector {
  @apply cursor-not-allowed text-black;
  background-color: rgba(245, 245, 245, 1);
}

.rc-select-multiple.rc-select-disabled.rc-select:not(.rc-select-customize-input)
  .rc-select-selector {
  background: #f5f5f5;
}

.rc-select-disabled.rc-select:not(.rc-select-customize-input) .rc-select-selector input {
  cursor: not-allowed;
}

.rc-select:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rc-select:not(.rc-select-customize-input)
  .rc-select-selector
  .rc-select-selection-search-input::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

.rc-select:not(.rc-select-disabled):hover .rc-select-selector {
  border-right-width: 1px !important;
  @apply border-gray-300 ring-gray-200 ring-2;
}

.rc-select-selection-item {
  @apply flex-1 overflow-hidden whitespace-nowrap overflow-ellipsis;
}

@media all and (-ms-high-contrast: none) {
  .rc-select-selection-item *::-ms-backdrop,
  .rc-select-selection-item {
    flex: auto;
  }
}

.rc-select-selection-placeholder {
  @apply flex-grow pointer-events-none truncate text-gray-300;
}

@media all and (-ms-high-contrast: none) {
  .rc-select-selection-placeholder *::-ms-backdrop,
  .rc-select-selection-placeholder {
    flex: auto;
  }
}

.rc-select-arrow {
  @apply right-3 top-1/2 inline-block h-3 text-xs leading-none -mt-2 pointer-events-none absolute text-center text-black not-italic normal-case w-3;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
}

.rc-select-arrow > * {
  line-height: 1;
}

.rc-select-arrow svg {
  display: inline-block;
}

.rc-select-arrow::before {
  display: none;
}

.rc-select-arrow .rc-select-arrow-icon {
  display: block;
}

.rc-select-arrow .anticon {
  vertical-align: top;
  transition: transform 0.3s;
}

.rc-select-arrow .anticon > svg {
  vertical-align: top;
}

.rc-select-arrow .anticon:not(.rc-select-suffix) {
  pointer-events: auto;
}

.rc-select-disabled .rc-select-arrow {
  cursor: not-allowed;
}

.rc-select-clear {
  @apply top-1/2 bg-white cursor-pointer inline-block h-3 text-xs leading-none -mt-2 opacity-0 absolute text-center text-black not-italic normal-case w-3;
  right: 12px;
  z-index: 1;
  transition: color 0.3s ease, opacity 0.15s ease;
  text-rendering: auto;
}

.rc-select-clear::before {
  display: block;
}

.rc-select-clear:hover {
  color: rgba(0, 0, 0, 0.45);
}

.rc-select:hover .rc-select-clear {
  opacity: 1;
}

.rc-select-dropdown {
  @apply bg-white rounded-sm box-border text-sm m-0 overflow-hidden px-0 py-1 absolute text-black;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  font-variant: initial;
  line-height: 1.5715;
  list-style: none;
  outline: none;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  font-feature-settings: 'tnum';
}

.rc-select-dropdown.ant-slide-up-enter.ant-slide-up-enter-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown.ant-slide-up-appear.ant-slide-up-appear-active.rc-select-dropdown-placement-bottomLeft {
  -webkit-animation-name: antSlideUpIn;
  animation-name: antSlideUpIn;
}

.rc-select-dropdown.ant-slide-up-enter.ant-slide-up-enter-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown.ant-slide-up-appear.ant-slide-up-appear-active.rc-select-dropdown-placement-topLeft {
  -webkit-animation-name: antSlideDownIn;
  animation-name: antSlideDownIn;
}

.rc-select-dropdown.ant-slide-up-leave.ant-slide-up-leave-active.rc-select-dropdown-placement-bottomLeft {
  -webkit-animation-name: antSlideUpOut;
  animation-name: antSlideUpOut;
}

.rc-select-dropdown.ant-slide-up-leave.ant-slide-up-leave-active.rc-select-dropdown-placement-topLeft {
  -webkit-animation-name: antSlideDownOut;
  animation-name: antSlideDownOut;
}

.rc-select-dropdown-hidden {
  display: none;
}

.rc-select-dropdown-empty {
  color: rgba(0, 0, 0, 0.25);
}

.rc-select-item-empty {
  @apply block text-sm leading-5 py-1 px-3 relative text-black;
  min-height: 32px;
  font-weight: normal;
}

.rc-select-item {
  @apply cursor-pointer block text-sm leading-5 py-1 px-3 relative text-black;
  min-height: 32px;
  font-weight: normal;
  transition: background 0.3s ease;
}

.rc-select-item-group {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  cursor: default;
}

.rc-select-item-option {
  display: flex;
}

.rc-select-item-option-content {
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rc-select-item-option-state {
  flex: none;
}

.rc-select-item-option-active:not(.rc-select-item-option-disabled) {
  background-color: #f5f5f5;
}

.rc-select-item-option-selected:not(.rc-select-item-option-disabled) {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  background-color: #e6f7ff;
}

.rc-select-item-option-selected:not(.rc-select-item-option-disabled) .rc-select-item-option-state {
  color: #1890ff;
}

.rc-select-item-option-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.rc-select-item-option-disabled.rc-select-item-option-selected {
  background-color: #f5f5f5;
}

.rc-select-item-option-grouped {
  padding-left: 24px;
}

.rc-select-lg {
  font-size: 16px;
}

.rc-select-borderless .rc-select-selector {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.rc-select-rtl {
  direction: rtl;
}

.rc-select-rtl .rc-select-arrow {
  right: initial;
  left: 12px;
}

.rc-select-rtl .rc-select-clear {
  right: initial;
  left: 12px;
}

.rc-select-dropdown-rtl {
  direction: rtl;
}

.rc-select-dropdown-rtl .rc-select-item-option-grouped {
  padding-right: 24px;
  padding-left: 12px;
}

.rc-select-rtl.rc-select-multiple.rc-select-show-arrow .rc-select-selector,
.rc-select-rtl.rc-select-multiple.rc-select-allow-clear .rc-select-selector {
  padding-right: 4px;
  padding-left: 24px;
}

.rc-select-rtl.rc-select-multiple .rc-select-selection-item {
  text-align: right;
}

.rc-select-rtl.rc-select-multiple .rc-select-selection-item-content {
  margin-right: 0;
  margin-left: 4px;
  text-align: right;
}

.rc-select-rtl.rc-select-multiple .rc-select-selection-search-mirror {
  right: 0;
  left: auto;
}

.rc-select-rtl.rc-select-multiple .rc-select-selection-placeholder {
  right: 12px;
  left: auto;
}

.rc-select-rtl.rc-select-multiple.rc-select-sm .rc-select-selection-placeholder {
  right: 7px;
}

.rc-select-rtl.rc-select-single .rc-select-selector .rc-select-selection-item,
.rc-select-rtl.rc-select-single .rc-select-selector .rc-select-selection-placeholder {
  right: 0;
  left: 9px;
  text-align: right;
}

.rc-select-rtl.rc-select-single.rc-select-show-arrow .rc-select-selection-search {
  right: 12px;
  left: 25px;
}

.rc-select-rtl.rc-select-single.rc-select-show-arrow .rc-select-selection-item,
.rc-select-rtl.rc-select-single.rc-select-show-arrow .rc-select-selection-placeholder {
  padding-right: 0;
  padding-left: 18px;
}

.rc-select-rtl.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow
  .rc-select-selection-search {
  right: 6px;
}

.rc-select-rtl.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow
  .rc-select-selection-item,
.rc-select-rtl.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow
  .rc-select-selection-placeholder {
  padding-right: 0;
  padding-left: 21px;
}
